.material-icons {
    background-color: #ffdb26;
    border: none;
    color: #000000;
    padding: 0px;
    display: inline-block;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    width: fit-content;
}

.button {
    padding: 0px;
    width: fit-content;
}

.banner {

    background-color: purple;
    height: 50px;
    display: block;
    position: relative;
    text-align: center;
    padding-top: 15px;

}


.text-box {

    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-width:2px;
    color: black;
    font-size: large;
    width: 100%;
    height: 800px;
    padding-top: 3px;
    padding-left: 3px;
    line-height: 1em;
    
}


